.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
   
}
.listWrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex: 1;;
    background-color: #febb02;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    position: sticky;
    top: 10px;
    height: max-content;
}
.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
   
}
.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.lsItem>label{
    font-size: 12px;
}

.lsItem>input{
height: 30px;
border: none;
padding: 4px;
border-radius: 7px;

}
.lsItem>span{
    height: 30px;
    padding: 4px;
    background-color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 7px;
}
.lsOption{
    padding: 10px;
}
.lsOptionItemPType{
    display: flex;
    flex-direction: column;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 9px;
    color: #00000055;
    font-size: 12px;
    font: bold;
}

.lsOptionInput{
    width: 70px;
    font-size: 20px;
    cursor: pointer;
}

.pTypeBtn{
    width: 80px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: 1px dashed;
    border-radius: 8px ;
}
.pTypeList{
    display:grid;
    grid-template-columns: 100px 100px 100px;
   
   

}
.pTypeItem{
    display: flex;
    flex-direction: row;
   width: fit-content;
    border: 2px solid rgb(64, 171, 217);
    border-radius: 8px ;
    margin: 2px 2px;
    cursor: pointer;
}
.pTypeItemRemove{
    cursor: pointer;
}
.pTypeItemRemove:hover{
    scale: 1.1;
}
.listSearch>button{
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    border-radius: 7px;
}
.listSearch>button:hover{
    transform: scale(1.01);
}


.listResult{flex: 3;
}
.tlist{
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 999;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 5px 5px;
}
.titem{
    display: flex;
   
    justify-content: space-between;

}
.iteminput{
    width: 20px;
}